---
BasedOnStyle: Microsoft
AlignEscapedNewlines: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: true
PackConstructorInitializers: CurrentLine
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
KeepEmptyLinesAtTheStartOfBlocks: false
